.App-table-column-item {
    position: absolute;
    width: 100%; /*TODO: wyświetlanie kilku bloków w tym samym slocie */

    .App-table-column-card {
        position: relative;
        height: 98%;
        margin-top: 1%;
        margin-bottom: 1%;
        background-color: lightgray;
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 12px;
        box-shadow: grey 1px 1px 4px;
        text-align: start;
        padding-left: 12px;
        overflow: hidden;

        p {
            margin: 0;
        }

        h4 {
            margin: 0;
        }
    }
}